html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://github.com/meganych-test/hamsterInc/blob/main/Firefly%20Cute%20Fat%20Tiny%20hamster%20character,%20cartoonish,%20finger%20tapping%20phone%20app,%20dress%20as%20coal%20miner%20w%20(8).jpg?raw=true');
    background-size: cover;
    background-position: center;
}
.no-mobile-message {
    display: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 75%;
}
.user-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}
